@use '../../variables';

.lodging__tag {
    font-weight: 700;
    font-size: variables.$font-size-secondary;
    color: variables.$color-white;
    background-color: variables.$color-highlight;
    padding: 5px 20px;
    border-radius: variables.$border-radius-secondary;
    display: flex;
    align-items: center;
    text-align: center;
}

@media (max-width: variables.$tablet) {
    .lodging__tag {
        font-size: 12px;
    }
}

@media (max-width: variables.$mobile) {
    .lodging__tag {
        font-size: 10px;
    }
}