@use '../../variables';

.lodging__tag {
    font-weight: 700;
    font-size: 14px;
    color: variables.$contrast-font;
    background-color: variables.$color-red;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media (max-width: variables.$tablet) {
    .lodging__tag {
        font-size: 12px;
    }
}

@media (max-width: variables.$mobile) {
    .lodging__tag {
        font-size: 10px;
    }
}