@use '../../variables';

.slideshow {
    position: relative;
    height: 416px;
    margin: 0;

    .slideshow__picture {
        object-fit: variables.$object-fit;
        width: 100%;
        height: 100%;
        border-radius: variables.$border-radius-main;
    }

    .slideshow__navigation {
        appearance: none;
        position: absolute;
        bottom: 146px;
        padding: 0;
        background-color: transparent;
        border: 0;

        &.slideshow__navigation--prev {
            left: 0px;
        }

        &.slideshow__navigation--next {
            right: 0px;
        }

        .slideshow__icon {
            height: 81px;
            margin: 20px;
        }
    }

    .slideshow__numbering {
        position: absolute;
        bottom: 25px;
        width: 100%;
        font-size: variables.$font-size-main;
        font-weight: 500;
        color: variables.$color-white;
        text-align: center;
    }
}

@media (max-width: variables.$tablet) {
    .slideshow {
        height: 335px;

        .slideshow__picture {
            border-radius: 17px;
        }

        .slideshow__navigation {
            bottom: 130px;

            .slideshow__icon {
                height: 50px;
                margin: 12px;
            }
        }

        .slideshow__numbering {
            bottom: 20px;
            font-size: 16px;
        }
    }
}

@media (max-width: variables.$mobile) {
    .slideshow {
        height: 255px;

        .slideshow__picture {
            border-radius: variables.$border-radius-secondary;
        }

        .slideshow__navigation {
            bottom: 115px;
            
            .slideshow__icon {
                height: 20px;
                margin: 5px;
            }
        }

        .slideshow__numbering {
            bottom: 15px;
            font-size: variables.$font-size-secondary;
        }
    }
}