@use '../../variables';

#corporate-values {
    width: 83%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: variables.$tablet) {
    #corporate-values {
        margin: 30px auto;
        gap: 25px;
    }
}

@media (max-width: variables.$mobile) {
    #corporate-values {
        gap: 20px;
        width: 100%;
        margin: 20px 0;
    }
}