@use '../../variables';

.host__rating {
    display: flex;
    column-gap: 15px;

    .rating__star {
        width: 24px;
    }
}

@media (max-width: variables.$tablet) {
    .host__rating {
        column-gap: 11px;

        .rating__star {
            width: 19px;
        }
    }
}

@media (max-width: variables.$mobile) {
    .host__rating {
        column-gap: 7px;

        .rating__star {
            width: 13px;
        }
    }
}

