@use '../../variables';

.home {
    
    .gallery {
        margin: 50px auto;
        padding: 55px 50px;
        background-color: variables.$color-background;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
        justify-items: center;
        row-gap: 50px;
        border-radius: variables.$border-radius-main;
    }
}

@media (max-width: variables.$tablet) {
    .home {
        .gallery {
            grid-template-columns: 43% 43%;
        }
    }
}

@media (max-width: variables.$mobile) {
    .home {
        .gallery {
            justify-content: center;
            row-gap: 20px;
            grid-template-columns: 100%;
            margin: 20px auto;
            padding: 0;
            background-color: transparent;
        }
    }
}