@use '../../variables';

.collapse {
    overflow: hidden;
    border-radius: 5px;
    
    .collapse__title {
        font-weight: 700;
        font-size: 24px;
        color: variables.$contrast-font;
        background-color: variables.$color-red;
        padding: 10px 15px 10px 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;

        .arrow-icon {
            width: 25px;
            transition: transform 500ms;

            &.open {
                transform: rotate(-180deg);
            }
        }
    }
    
    .collapse__content {
        position: relative;
        z-index: -1;
        padding: 15px 20px 20px 20px;
        transition: all 500ms;
        background-color: variables.$contrast-background;
        border-radius: 0 0 5px 5px;
        font-size: 18px;
        font-weight: 400;

        &.collapse__content--closed {
            transform: translateY(-150px);
            max-height: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

@media (max-width: variables.$tablet) {
    .collapse {
        .collapse__title {
            font-size: 18px;

            .arrow-icon {
                width: 20px;
            }
        }

        .collapse__content {
            font-size: 15px;
        }
    }
}

@media (max-width: variables.$mobile) {
    .collapse {
        .collapse__title {
            padding: 10px;
            font-size: 13px;
            
            .arrow-icon {
                width: 16px;
            }
        }

        .collapse__content {
            font-size: 12px;
        }
    }
}