@use '../../variables';

.footer {
    margin-top: auto;
    padding-bottom: 30px;
    background-color: variables.$color-black;
    color: variables.$color-white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 30px;

    .footer__logo {
        width: 122px;
        margin-top: 65px;
    }

    .footer__copyright {
        font-size: variables.$font-size-title;
        font-weight: 500;
        text-align: center;
    }
}

@media (max-width: variables.$tablet) {
    .footer {
        gap: 22px;

        .footer__copyright {
            font-size: variables.$font-size-main;
        }
    }
}

@media (max-width: variables.$mobile) {
    .footer {
        gap: 15px;
        
        .footer__copyright {
            width: 27%;
            font-size: 12px;
            white-space: break-spaces;
        }
    }
}