$color-white: #FFFFFF;
$color-red: #FF6060;
$color-grey: #F6F6F6;
$color-black: #000000;

$contrast-font: $color-white;
$contrast-background: $color-grey;

$mobile-s: 575.98px;
$mobile: 767.98px;
$tablet: 1023.98px;