@use '../../variables';

.notfound {
    color: variables.$color-red;
    text-align: center;

    & > * {
        margin-bottom: 140px;
    }

    .notfound__code {
        font-size: 288px;
        font-weight: 700;
    }

    .notfound__details {
        font-size: 36px;
        font-weight: 500;
    }

    .notfound__homelink {
        font-size: 18px;
        font-weight: 500;
        display: block;
        color: variables.$color-black;
        text-decoration: underline;
    }
}



