@use '../../variables';

.lodging {
    
    figcaption {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 25px;
        margin: 30px 0 50px 0;
        
        .lodging__info {
            flex-basis: 77%;
        
            .lodging__title {
                margin: 0;
                color: variables.$color-red;
                font-weight: 500;
                font-size: 36px;
            }
        
            .lodging__location {
                margin: 0;
                font-weight: 500;
                font-size: 18px;
            }
        
            .lodging__tags {
                margin: 20px 0 0 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                gap: 10px;
            }
        }
    
        .host__info {
            text-align: right;
            display: flex;
            flex-direction: column;
    
            .host__identity {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;
            
                .host__name {
                    font-weight: 500;
                    font-size: 18px;
                    color: variables.$color-red;
                    width: min-content;
                }
        
                .host__picture {
                    width: 64px;
                    border-radius: 50%;
                }
            }
        }
    
        .collapses {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .collapse {
                flex-basis: 45%;
                
                .collapse__title {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: variables.$tablet) {
    .lodging {

        figcaption {
            row-gap: 20px;
            margin: 22px 0 40px 0;

            .lodging__info {
                flex-basis: 100%;

                .lodging__title {
                    font-size: 27px;
                }

                .lodging__location {
                    font-size: 16px;
                    margin-top: 5px;
                }

                .lodging__tags {
                    margin-top: 15px;
                }
            }

            .host__info {
                width: 100%;
                justify-content: space-between;
                flex-direction: row-reverse;

                .host__identity {
                    margin-bottom: 0;

                    .host__name {
                        font-size: 15px;
                    }

                    .host__picture {
                        width: 48px;
                    }
                }
            }

            .collapses {
                row-gap: 20px;

                .collapse {
                    flex-basis: 100%;

                    .collapse__title {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: variables.$mobile) {
    .lodging {

        figcaption {
            row-gap: 15px;
            margin: 15px 0 30px 0;

            .lodging__info {

                .lodging__title {
                    font-size: 18px;
                }

                .lodging__location {
                    font-size: 14px;
                    margin-top: 5px;
                }

                .lodging__tags {
                    margin-top: 10px;
                }
            }

            .host__info {

                .host__identity {

                    .host__name {
                        font-size: 12px;
                    }

                    .host__picture {
                        width: 32px;
                    }
                }
            }

            .collapses {

                .collapse {

                    .collapse__title {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}